@import '../materialize/materialize.scss';
@import '../Common';

.Categories {
 min-height: fit-content;
 color: $mygray4;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 padding: 0 1rem;
 padding-bottom: 0.5rem;
}

@media only screen and (max-width: $smallWidth) {
 .Categories {
  flex-flow: column wrap;
 }
}
