$mygray: #333333;
$mygray2: #666666;
$mygray3: #999999;
$mygray4: #cccccc;

$primary-color: #2f2f31 !default;
$secondary-color: #eb6309 !default;
$third-color: #3c4256 !default;

$bg-light: rgba(221, 221, 221, 0.05) !default;
$bg-light-hover: rgba(221, 221, 221, 0.1) !default;

$danger-color: #e91e63;
$warning-color: #f87d09;
$info-color: #29d2e4;
$success-color: #8bc34a;

$font1: 'Noto Sans', sans-serif;
$font2: 'Noto Sans JP', sans-serif;

// Media queries

$largeWidth: 1200px;
$mediumWidth: 992px;
$smallWidth: 600px;

.mycontainer {
 padding: 1rem 1rem;
}
