$mygray: #333333;
$mygray2: #666666;
$mygray3: #999999;
$mygray4: #cccccc;

$font1: 'Noto Sans', sans-serif;
$font2: 'Noto Sans JP', sans-serif;

// Media queries

$largeWidth: 1200px;
$mediumWidth: 992px;
$smallWidth: 600px;

.mycontainer {
 padding: 1rem 1rem;
}
